# ユーザー認証情報 (GUIセットアップ画面で入力・自動保存)
STAKE_USERNAME=
STAKE_PASSWORD=
LAPLACE_ACCOUNT_EMAIL=

# LAPLACE設定
LAPLACE_MODE=normal
LAPLACE_FIXED_TABLE=
LAPLACE_USER=user

# VPS接続
LAPLACE_USE_REMOTE=1
LAPLACE_API_URL=http://127.0.0.1:8000
LAPLACE_API_KEY=c6gDoe0xIyBOTQ7bvzRaAHNYn4ZE1W9Mriumqkw8Shf5Jlsd
LAPLACE_SSH_HOST=laplace@210.131.215.116
LAPLACE_LOCAL_PORT=8000
LAPLACE_REMOTE_PORT=8000
